@use 'variables' as *;
@use 'mixins' as *;

/* Header*/
header {
  background: rgba(169, 71, 5, 0.9);
  padding: $spacing-base 0; 
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(5px); 
  
  .navbar-brand {
    font-family: $font-title;
    font-size: 1.8rem;
    color: $color-primary;
    transition: color 0.3s;

    &:hover {
      color: lighten($color-primary, 10%);
    }
  }

  .navbar-nav {
    gap: 2rem; 


    .nav-link {
      color: white !important; 
      font-weight: bold;
      transition: color 0.3s;
      
      &:hover {
        color: $color-primary !important;
      }
    }
  }

  .navbar-toggler {
    border: none; 
    padding: 0;
    font-size: 1.5rem;
    
    &:focus {
      box-shadow: none;
    }
  }
}

/* 4. Estilos RESPONSIVE (Menú móvil) */
@media (max-width: 991px) {
  
  header .navbar-collapse {
    background: rgba(0,0,0,0.95); 
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    text-align: center; 
  }
}