@use 'variables' as *;
@use 'mixins' as *;

.menu-section {
  padding: $spacing-xxl 5%;
  text-align: center;

  h2 {
    font-family: $font-title;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  /* Estilos para la tarjeta */
  .menu-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    
    border: none; 

    /* Imágenes */
    .card-img-top {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    /* Cuerpo de la tarjeta */
    .card-body {
      padding: 1.5rem;
      
      h3 {
        font-family: $font-title;
        margin: 0.5rem 0 1rem;
        font-size: 1.5rem;
        color: $color-text-dark;
      }

      p {
        color: $color-text-gray;
        margin-bottom: 0;
      }
    }

    /* Efecto Hover */
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 25px rgba(0,0,0,0.15); /* Sombra un poco más fuerte al flotar */
    }
  }
}